* {
    margin: auto;
    padding: auto;
}

body {
    background-color: black;
    h1 {
        text-align: center;
        color: antiquewhite;
        font-size: 50px;
    }
    
    .form-div {
        margin: auto;
        padding: 20px;
        border: 3px solid rgb(194, 78, 176);
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
    }
    
    input {
        background-color: rgb(30, 1, 14);
        color: white;
        border: 3px solid gray;
        border-radius: 5px;
        padding: 30px;
        font-size: 15px;
        text-align: center;
    }
    
    #calc-answer {
        width: auto;
        border: 5px solid black;
        border-radius: 3px;
        padding: 20px;
        margin: auto;
        display: flex;
    }
    
    .clear{
        width: 75%;
        margin-top: 15px;
    }
    
    .division{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {
    #calc-answer{
       color: aliceblue;
       background-color: aqua;
       width: 20px;
    } 
  }

